In [1]:
# モジュールのインポート
import math
import pandas as pd
# Ridge Regressionモデルクラスの読み込み
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
# scikit-learnの準備
from sklearn.model_selection import train_test_split
# 線形回帰で学習
from sklearn import linear_model

In [2]:
#データの読み込みと観測
df = pd.read_csv('./data/train.csv')
df.head()

,rent_price,house_area,year_from_built,distance,built_date,balcony_area,house_structure,floor,total_floor
0,81000.0,22.627647,21,360.0,2001-04-01,0.0,RC,4.0,10.0
1,119000.0,29.487423,11,720.0,2011-03-01,0.0,RC,3.0,10.0
2,65000.0,13.960667,32,640.0,1990-03-01,0.0,RC,3.0,6.0
3,230000.0,79.860208,13,480.0,2009-03-01,0.0,RC,15.0,29.0
4,102000.0,34.471313,23,320.0,1999-05-01,0.0,RC,2.0,7.0

In [3]:
df.shape

(7496, 9)

In [4]:
#特徴量と正解データの設定

## 使いたい特徴量
feature_cols = ['house_area','distance']

## 予測したい列
target_col = 'rent_price'

x = df[feature_cols]
y = df[target_col]

# 訓練データとテストデータに8:2で分割
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
# モデル学習
model = linear_model.LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [5]:
# 訓練データを用いた評価
print(model.score(X_train, y_train))
# テストデータを用いた評価
print(model.score(X_test, y_test))

0.5727874981126901
0.6006123880504818

In [13]:
#サンプルデータの読み込みと観測
sample_df = pd.read_csv('./data/sample.csv', index_col=None)
sample_df.head()

,house_area,year_from_built,distance,built_date,balcony_area,house_structure,floor,total_floor
0,23.151888,17,840.0,2005-10-01,0.0,RC,5.0,8.0
1,25.782793,13,1000.0,2009-08-01,0.0,RC,5.0,7.0
2,21.659113,30,1120.0,1992-02-01,0.0,RC,3.0,12.0
3,38.683944,9,320.0,2013-09-01,0.0,RC,4.0,7.0
4,26.341485,31,880.0,1991-05-01,0.0,RC,3.0,10.0

In [14]:
sample_df.shape

(10, 8)

In [16]:
#特徴量と正解データの設定
## 使いたい特徴量
feature_cols = ['house_area','distance']
## 予測したい列
target_col = 'rent_price'

sample_x = sample_df[feature_cols]

In [17]:
# 学習したモデルを用いて予想
sample_df['pred_rent_price'] = model.predict(sample_x)

In [19]:
sample_df[['house_area','distance','pred_rent_price']]

   house_area  distance  pred_rent_price
0   23.151888     840.0     90221.587690
1   25.782793    1000.0     93748.682655
2   21.659113    1120.0     85233.009181
3   38.683944     320.0    122844.286893
4   26.341485     880.0     95738.240724
5   61.474195    1280.0    156829.983133
6   22.924769     640.0     91417.165577
7   40.161172     760.0    122003.561257
8   27.643135     480.0    101343.749873
9   25.104197    1160.0     91217.358817